@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #838ed9;
    --primary-foreground: #657dc4;
    /* --primary-foreground:  #f8fafc */

    --secondary: #f1f5f9;
    --secondary-foreground: #0f1729;

    --muted: #f1f5f9;
    --muted-foreground: #65758b;

    --accent: #ebedf5;
    --accent-foreground: #0f1729;

    --destructive: #f59292;
    --destructive-foreground: #f8fafc;

    --border: #e1e7ef;
    --input: #e1e7ef;
    --ring: #838ed9;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f1729;

    --secondary: #1d283a;
    --secondary-foreground: #f8fafc;

    --muted: #1d283a;
    --muted-foreground: #94a3b8;

    --accent: #1d283a;
    --accent-foreground: #f8fafc;

    --destructive: #811d1d;
    --destructive-foreground: #f8fafc;

    --border: #1d283a;
    --input: #1d283a;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    font-family: Pretendard-Regular;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
