@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #334155;

    --card: #f9f9f9;
    --card-foreground: #334155;

    --popover: #f9f9f9;
    --popover-foreground: #334155;

    --primary: #5f4e9e;
    --primary-foreground: #f9f9f9;
    --primary-accent: #402785;
    --primary-light: #dfdde7;
    --primary-accent-light: #c1c6de;

    --secondary: #f9f9f9;
    --secondary-foreground: #0f1729;
    --secondary-accent: #ebebeb;

    --badge: #fcc97b;
    --badge-accent: #838ed9;

    --muted: #ece8e5;
    --muted-foreground: #483243;

    --accent: #fff29c;
    --accent-foreground: #334155;

    --destructive: #f59292;
    --destructive-accent: #ff2865;
    --destructive-foreground: #f9f9f9;

    --border: #e1e1e1;
    --input: #c1c6de;
    --ring: #5f4e9e;

    --radius: 0.5rem;

    --progress: #d3e5ef;
    --unused: #dbeddb;
    --completed: #e3e2e0;
    --progress-foreground: #4c75c2;
    --unused-foreground: #518b68;
    --completed-foreground: #5a5a58;

    --google: #f5f5f5;
    --google-accent: #d5d5d5;
    --kakao: #fee500;
    --kakao-accent: #fed800;
    --naver: #03c75a;
    --naver-accent: #00b752;
  }

  /* .dark {
    --background: #334155;
    --foreground: #f8fafc;

    --card: #334155;
    --card-foreground: #f8fafc;

    --popover: #334155;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f1729;

    --secondary: #1d283a;
    --secondary-foreground: #f8fafc;

    --muted: #1d283a;
    --muted-foreground: #94a3b8;

    --accent: #1d283a;
    --accent-foreground: #f8fafc;

    --destructive: #811d1d;
    --destructive-foreground: #f8fafc;

    --border: #1d283a;
    --input: #1d283a;
    --ring: #cbd5e1;
  } */
}

@layer base {
  * {
    font-family: Pretendard-Regular;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
