server:
  port: 8081
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  data:
    redis:
      host: localhost
      port: 6379
      password: ENC(QY5uK+t5CcE+BXGp0ZfvfkvE4GhlM5aUO5zwcH5I+/eS7COcjWkjSzXNRa9joPRn)
    rest:
      base-path: /api

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(c+l6vK2w3qVKeapUlbWXl2Wt72W7Dafiivq1UMJVzUzW4UwhZ5ttUUSWjiOZaX1w5oGa1gj9Y5X7dybA+x9PMiuTx5qil4ekHksfE/jC0PU=) # Database이름 ?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    #    mysql에 생성한 사용자 계정 정보를 써야 합니다.
    username: ENC(zk88hi4Rokn+cB8QZeFwpFN+te4XtlP4BTiKt/wmutahj9cSxpQmTvVgXshy4+Dq)
    password: ENC(0N74CJo3MREHiUXCqKxe1LeSZe+bquxb2gQRaGjfzEr3KEL6DhLrlgl3RntYMslu)

  # spring data jpa 설정
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  jwt:
    secret: ENC(fEJ7WA7eRGVpVlO/l1AxQxWrxdKrckoBlTwDPfYVm6+aWYyMV48weamOful1HUsovIXEGhAonBKbRrlrJRiDw2tB4Bc8zGIBSN7yBjb9nM8=)
    token-prefix: ENC(LtV6ZJrgUovD3gbWplYf3FSYiu818pv1S9Mc+xERD9DHuxma96sQpui/A9PNYq7V)
    haeder-refresh: ENC(A1BFSNQYpjOK6DnCL+Yz7wWE2vpUZOy+2pW8KgYTmt4eSvwoTYOrkaseK+/ebKIa)
    haeder-access: ENC(XmDnf2JrFvZvt6kO4AygGf7jRdch2p9tXbLti9N91XcI0WY/+hP+zBZEsjWUUEbo)

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: ENC(7m0qq9n5K8CqMv5+px8Ktoe5pKj/e/Pb1uQd0wmYLfJOZgLYpO4Ty0DDXNnVroxvWhgxh9mGtPzmESw8AHibsXjSqjA4qOT8L4BC6g5zCuU=)
            token-uri: ENC(wLwqfDDZLmXsDMDr1bLFrmcrBO8mqoCUKk2TqD9ZlOtYpaXRWla42TONNmgu4Ok/TvjxzFOHBm5tHKhJjRlUavtzcSECDi8DCwWCPjhqAng=)
            user-info-uri: ENC(jkLqd3wH/JYRtCsssWiX845A0Um1xgNQEYua5Csu/F9LwIrWKxsDq1Zmwg814O+pKjDanr62oZVUnFgCbEbGJ7TMstt3MVGyba0MlLgp1p4=)
            user-name-attribute: id
          naver:
            authorization-uri: ENC(Kidtb9hB0o0KPNbxofFI+v3gWKvbrofnfn3p6KO4QSIgABjO6e6R0OoxuFo9T3bjUhqdhhzt0inb/9iw1FFmWkXV+rWCocx9DjWsRaLQToY=)
            token-uri: ENC(aJVcYVrlcq8e/APuXvLhUVoyp1hMprPlht76mqL7Av62D8haClzxcZk0IRiXlAuHD740ruTpBAerB6xolK17eYo+5jAD9tNE9A18Trm8qKs=)
            user-info-uri: ENC(BdP/kJYcjM2oB8Ws8wtAhe0qVKQbKeAPvKtTdakX/RdfbcFR/dTvi9cSeq7alz9v+qar+Re3qxTYdPZaPGsN7g2fgjFdex/+co3W3qFbfmU=)
            user-name-attribute: response
        registration:
          kakao:
            client-id: ENC(CoMySNX2PMaZbR7nl9XtPITWRHrB+kClg06+bQSJw2lziuiJ8TZwW4SEK7r77oie/Kp3zS0ypWllwYYjG4rvloMu3IHjHdsmpxnWrkodEH8=)
            client-secret: ENC(fpZjJAjfzDlkAgvwfuOQLu7rkhPMxO8f08uVQKn3sJQdufz7f+JMtNOOysi9mIuN16KvpsqNep2hwfGWazZpMUUDwdncNvYjMHLyTOBxIcs=)
            client-authentication-method: ENC(tRG2nwDDCP/8D6b16M+xayfJGPtTwQtBGnGFW2CLeOgZFF3U+Yx/KbKdVOCOn2NqR+zuSSPWwP/634Zy0pZXRw==)
            redirect-uri: ENC(ttIjHjZSj11+025SwSEYqTgbBElfHaDCGd2jZEsQWJRkM4SP5YQDTURfNs1ZN0PfTY/buvhEnp3cKVNy2ymmWbP5sk/PiUeWksCEL0dZw0U=)
            authorization-grant-type: ENC(V6kwdUnoVuOOU/Xa/yxKp1Q9bHRZgHCc2WV1kbjDgmD7KJ6EFDZUa3dsy9MwByXfX3S0Rd8gld1/3mM7AYVHjQ==)
            client-name: kakao
            scope:
              - profile_nickname
              - profile_image
              - account_email
              - gender
              - age_range
          google:
            client-id: ENC(3yLCaS91Tn+s1RZejez5sY50G3ZhLGvgS393RXFinFG2rLWuvxTskV0qpWXvw8R/V8BH21I1VrbrwR91VKojx9KKk8x6cMNOH/YP2JwfHAdoHF//t9Ut4M+gwR+PqPafXi1y/t7pU7xFZ1U6pB9b6g==)
            client-secret: ENC(R0TjgohMkmTRTU5+WQHuzl0HronY9SRWbwI2WEixwi+MkQ4KSOxmiMQpNl1JuLohx1ZNTql18TzvU8dY+WI0W6jvXdEA4qQZcn4S6GB8Ulo=)
            redirect-uri: ENC(+GbYneYcv/s/VxhW3AFHUdS2hZ6OXnVPYz4WnLRnf9sx9172jENtucseA1a0pPFk3ekwoIMYOIutHy+bkJC15/8gqpIFHkZzPXBlyrtg+eqSmQs8bOLFwe+GUt3Scwsg)
            scope:
              - email
              - profile

s3:
  id: ENC(5A2l4Ng/ujv5uTPZXXnU9qQCsNoyX6CNoAfoShvUo2tIav96YNPMWORyNPrglCZL18/VJECVb9hG48bnMd5Nsg==)
  secret: ENC(1Kmd5TyXZV5a/5HAE/80fWFAHq0FEnvyVn8dQCgW/PVxS8ChJWDSvxX95sezJs7FY7cZhqiElFNYJIR7HELSxedLk15MbtjYcILTFfeg1yc=)
  url: ENC(0c4VyETpKlCWzWGXEM7azR1X8XtGiLVs1fwW2wvmNSmtRAmy9dByXY7akT03T4+EgxezJSI/QD9yZpEnSB3aOumOTI2dWzNkmnQkYc5kx7Vs3CM34Y22GCCHTAUwqgra)
  bucket: ENC(8m0Ad0imlc3mjuzVpVGhMG9ffqzgD7625cYSI0+u4eJWlIjF+ZdxAmUzpKQ9ACCI)
jasypt:
  password: ${JASYPT_PASSWORD}
  encryptor:
    bean: jasyptEncryptor
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html